@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
  padding: 0;
  margin: 0;
}
button {
  border: none;
}
body {
  background: url('../pictures/body-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticTac {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
h1 {
  text-shadow: 2px 2px 2px black;
}
.ticTac__parag {
  font-size: 20px;
  margin: 5px 0px;
  color: black;
}
.ticTac__parag span {
  color: #d2a6a8;
  font-weight: bold;
}
.game__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
.left button {
  padding: 10px;
  color: white;
  border: 2px solid white;
}
.left button:nth-child(1) {
  background: #159957;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
}
.left button:nth-child(2) {
  background: #f2994a;
  background: -webkit-linear-gradient(to right, #f2c94c, #f2994a);
  background: linear-gradient(to right, #f2c94c, #f2994a);
}
.left button:nth-child(3) {
  background: #c0392b;
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
  background: linear-gradient(to right, #8e44ad, #c0392b);
}
.right span {
  display: inline-block;
  padding: 16px;
  border: 2px solid #1f1e1e;
  vertical-align: middle;
  background-color: white;
}
.game__footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4px;
}
.game__footer div {
  height: 118px;
  border: 2px solid white;
}
