@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
  padding: 0;
  margin: 0;
}
button {
  border: none;
}
body {
  background: url('../pictures/body-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The parent */
.ticTac {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
h1 {
  text-shadow: 2px 2px 2px black;
}
.ticTac__parag {
  font-size: 20px;
  margin: 5px 0px;
  color: black;
}
.ticTac__parag span {
  color: #d2a6a8;
  font-weight: bold;
}
/* Game header */
.game__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
.left button {
  padding: 10px;
  color: white;
  border: 2px solid white;
}
.left button:nth-child(1) {
  background: #159957;
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
}
.left button:nth-child(2) {
  background: #f2994a;
  background: -webkit-linear-gradient(to right, #f2c94c, #f2994a);
  background: linear-gradient(to right, #f2c94c, #f2994a);
}
.left button:nth-child(3) {
  background: #c0392b;
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
  background: linear-gradient(to right, #8e44ad, #c0392b);
}
.right span {
  display: inline-block;
  padding: 10px;
  border: 2px solid #1f1e1e;
  vertical-align: middle;
  background-color: white;
  color: black;
}
/* Game middle switch & playwith */
.game__middle {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.game__middle .switcher {
  color: black;
  padding: 4px 10px;
  background-color: white;
  font-size: 12px;
  position: relative;
  height: 17px;
}
.game__middle .switcher span {
  width: 60px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s linear;
}
.game__middle .switcher span:nth-child(2) {
  text-align: right;
}
.game__middle .switcher span:nth-child(3) {
  position: absolute;
  background-color: #f29f4a99;
  left: 0;
  top: 0;
  width: 72px;
  height: 100%;
}
.playwith {
  position: relative;
  padding-top: 10px;
}
.turn-icon {
  position: absolute;
  top: 0;
  transform: left 0.2s linear;
}
.turn-icon.left {
  left: 24px;
}
.turn-icon.right {
  left: calc(100% - 45px);
}

.playwith span:nth-child(1) {
  border-right: 4px solid black;
  padding-right: 6px;
}
.score {
  width: 151px;
  border: 2px solid #00000042;
  margin-left: auto;
}
.score span:first-child {
  border-right: 2px solid black;
}
.score span {
  width: 47%;
  display: inline-block;
}
/* Game footer */
.game__footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4px;
  background-color: #8e44ada1;
}
.game__footer div {
  height: 118px;
  border: 2px solid #ffffffbd;
  font-size: 145px;
  width: 117px;
  line-height: 64%;
  cursor: pointer;
}

.win-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.win-box.show {
  display: block;
}
.win-box div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.win-box button {
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.win-box button:hover {
  background-color: white;
  color: black;
}
